{% extends "::base.html.twig" %}

{% block title %}AppBundle:Homepage:index{% endblock %}

{% block body %}
	<h1>Welcome to the Dnyer Site Development!</h1>
	<h3>We are currently under construction...<br />New website coming soon!</h3>
{% endblock %}
